{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'sidebar.css' %}">
<script src="https://kit.fontawesome.com/5afcbb9c0d.js" crossorigin="anonymous"></script>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="img bg-wrap text-center py-4" style="background-image: url({% static 'img/bg_1.webp' %});"></div>
        <div class="user-logo">
            <div class="img2" style="background-image: url({% static 'img/logo.webp' %});"></div>
            <h3 class="user">Roman</h3>
        </div>
        <ul>
            <li><a href="#"><i class="fa fa-users"></i>Клиенты</a></li>
            <li><a href="#"><i class="fa fa-home"></i>Объекты</a></li>
            <li><a href="#"><i class="fa fa-list"></i>Задачи</a></li>
            <li><a href="#"><i class="fa fa-calendar"></i>Календарь</a></li>
            <li><a href="#"><i class="fa fa-folder-open"></i>Диск</a></li>

            {% with managers=user.groups.all %}
                {% if user.is_superuser %}
                    <li><a href="#"><i class="fa fa-file"></i>Отчеты</a></li>
                    <li><a href="#"><i class="fa-solid fa-user-tie"></i>Менеджеры</a></li>
                {% endif %}
            {% endwith %}

            <li id="logout">
                <form method="post" action="{% url 'logout' %}">
                    <a id="box" href="#">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link"><i class="fa fa-sign-out"></i>Выйти</button>
                    </a>
                </form>
            </li>
        </ul>
        <div class="messanger">
            <a href="#"><i class="fa-solid fa-comments"></i>Messanger</a>
        </div>
    </nav>
</div>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}


{#{% extends 'core/base.html' %}#}
{#{% load static %}#}
{##}
{##}
{#{% block content %}#}
{#    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'sidebar.css' %}">#}
{#    <script src="https://kit.fontawesome.com/5afcbb9c0d.js" crossorigin="anonymous"></script>#}
{##}
{#    <div class="wrapper d-flex align-items-stretch">#}
{#        <nav id="sidebar">#}
{#            <div class="img bg-wrap text-center py-4" style="background-image: url({% static 'img/bg_1.webp' %});"></div>#}
{#            <div class="user-logo">#}
{#                <div class="img2" style="background-image: url({% static 'img/logo.webp' %});"></div>#}
{#                <h3 class="user">Roman</h3>#}
{#            </div>#}
{#            <ul>#}
{#                <li><a href="#"><i class="fa fa-users"></i>Клиенты</a></li>#}
{#                <li><a href="#"><i class="fa fa-home"></i>Объекты</a></li>#}
{#                <li><a href="#"><i class="fa fa-list"></i>Задачи</a></li>#}
{#                <li><a href="#"><i class="fa fa-calendar"></i>Календарь</a></li>#}
{#                <li><a href="#"><i class="fa fa-folder-open"></i>Диск</a></li>#}
{#                <li><a href="#"><i class="fa fa-file"></i>Отчеты</a></li>#}
{#                <li><a href="#"><i class="fa-solid fa-user-tie"></i>Менеджеры</a></li>#}
{#                <li id="logout">#}
{#                    <form method="post" action="{% url 'logout' %}">#}
{#                        <a id="box" href="#">#}
{#                            {% csrf_token %}#}
{#                            <button type="submit" class="btn btn-link"><i class="fa fa-sign-out"></i>Выйти</button>#}
{#                        </a>#}
{#                    </form>#}
{#                </li>#}
{#            </ul>#}
{#            <div class="messanger">#}
{#                <a href="#"><i class="fa-solid fa-comments"></i>Messanger</a>#}
{#            </div>#}
{#        </nav>#}
{#    </div>#}
{#    <script src="{% static 'js/index.js' %}"></script>#}
{#{% endblock %}#}